{% extends 'core/__dashboard_base.html' %}

{% block content_header %}
    <h2 class="ui header">Change password</h2>
{% endblock %}

{% block content %}
    <div class="ui container">
        {% include 'core/__messages.html' %}
        <form class="ui form" method="post" action="{% url 'core:change-password' %}" name="change-password-form">
            <h3 class="ui header">Password Change Form</h3>
            <div class="field">
                <label for="old_password">{{ form.old_password.label }}</label>
                {{ form.old_password }}
                {{ form.old_password.errors }}
            </div>
            <div class="field">
                <label for="new_password1">{{ form.new_password1.label }}</label>
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>
            <div class="field">
                <label for="new_password2">{{ form.new_password2.label }}</label>
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>
            {% csrf_token %}
            <button class="ui red large button" type="submit">Change Password</button>
        </form>
    </div>
{% endblock %}