{% extends 'core/__core_base.html' %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        var filter_by="{{ filter_by }}";
    </script>
{% endblock %}

{% block content %}
    <div class="ui container">
        {% block content_header %}

        {% endblock %}
        {% block metadata %}

        {% endblock %}
        <div class="metrics">
            {% block metrics %}

            {% endblock %}
        </div>


        {% block search_filter %}

        {% endblock %}
        {% block table %}
            {% include 'core/_table.html' with table_headings=table_headings data=data %}
        {% endblock %}
    </div>
{% endblock %}

