<div class="table-container">
    <table class="ui striped red collapsing sortable celled table">
        <thead>
        <tr>
            {% for heading in table_headings %}
                <th>{{ heading }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>