{% extends 'core/__ticket_base.html' %}

{% load template_filters %}

{% block content_header %}
    <h2 class="ui header">Dashboard</h2>
{% endblock %}

{% block metrics %}
    <div class="ui three stackable cards">
        {% include 'core/_metric.html' with title='Total MRC of All Links' content=total_mrc %}
        {% include 'core/_metric.html' with title='MRC Expired within 2 Months' content=mrc_expired_soon %}
        {% include 'core/_metric.html' with title='Link Expired within 2 Months' content=num_expired_soon %}
    </div>
{% endblock %}

{% block table %}
    <div class="table-container">
        <table class="ui striped red collapsing sortable selectable celled table">
            <thead>
            <tr>
                {% for heading in table_headings %}
                    <th>{{ heading }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in data %}
                <tr>
                    {% for cell in row %}
                        {% if forloop.counter0 == open_ticket_index %}
                            <td>
                                <a href="{% url 'core:open-ticket' service_id=row|getitem:service_id_index %}">{{ cell }}</a>
                            </td>
                        {% elif forloop.counter0 == closed_ticket_index %}
                            <td>
                                <a href="{% url 'core:closed-ticket' service_id=row|getitem:service_id_index %}">{{ cell }}</a>
                            </td>
                        {% else %}
                            <td>{{ cell }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="ui center aligned container pagination-container">
        <div class="ui center aligned pagination menu">

            {% if data.has_previous %}
                {% if current_page != 2 %}
                    <a href="{% url 'core:dashboard' %}" class="item">First</a>
                {% endif %}
                <a href="{% url 'core:dashboard' %}?{% paginate request page=data.previous_page_number %}" class="item">{{ data.previous_page_number }}</a>
            {% endif %}

            <a href="" class="ui inverted active item">Page {{ current_page }} of {{ data.paginator.num_pages }}</a>

            {% if data.has_next %}
                <a href="{% url 'core:dashboard' %}?{% paginate request page=data.next_page_number %}" class="item">{{ data.next_page_number }}</a>
                {% if current_page != data.num_pages|add:"-1" %}
                    <a href="{% url 'core:dashboard' %}?{% paginate request page=data.paginator.num_pages %}" class="item">Last</a>
                {% endif %}
            {% endif %}
        </div>
    </div>



{% endblock %}

