{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.min.css' %}">


    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
        <script type="application/javascript" src="{% static 'js/semantic.min.js' %}"></script>
        <script type="application/javascript" src="{% static 'js/tablesort.js' %}"></script>
        <script type="application/javascript" src="{% static 'js/script.js' %}"></script>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% block body %}

{% endblock %}
</body>
</html>